body {
  display: flex;
  gap: 30px;
}

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 80px;
  align-self: center;
}

.book-container {
  display: grid;
}

.card {
  border: solid black;
  padding: 20px;
}